<p-table [value]="disponibilidades">
  <ng-template pTemplate="header">
      <tr>
          <th>Versão</th>
          <th>Uf</th>
          <th>Autorização</th>
          <th>Consulta Cadastro</th>
          <th>Consulta Protocolo</th>
          <th>Inutilização</th>
          <th>Recepção Evento</th>
          <th>Retorno Autorização</th>
          <th>Status Serviço</th>
          <th>Data da Consulta</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-disponibilidade>
      <tr>
          <td>{{disponibilidade.versaoWebService}}</td>
          <td>{{disponibilidade.uf}}</td>
          <!-- <td *ngIf="disponibilidade.statusAutorizacao"></td> -->
          <ng-container *ngIf="disponibilidade.statusAutorizacao; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusConsultaCadastro; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusConsultaProtocolo; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusInutilizacao; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusRecepcaoEvento; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusRetornoAutorizacao; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>

          <ng-container *ngIf="disponibilidade.statusStatusServico; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <td>
              <i class="pi pi-chevron-circle-up" style="font-size: 2em; color: green"></i>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <td>
              <i class="pi pi-chevron-circle-down" style="font-size: 2em; color: red">
              </i>
            </td>
          </ng-template>
          <td>{{disponibilidade.dataConsulta}}</td>
        
      </tr>
  </ng-template>
</p-table>