
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Disponibilidades NFE</span>
  </nav>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="text-uppercase text-center">
            <i class="pi pi-chevron-circle-up text-success"></i>
            Disponibilidades NFE
            <i class="pi pi-chevron-circle-down text-danger"></i>
          </h2>
        </div>
      </div>
    <h2 class="text-center">Status atual</h2>
    <app-disponibilidades></app-disponibilidades>
    <app-bar-chart-count-disponibilidades></app-bar-chart-count-disponibilidades>
</div>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted text-center">Criado por Thiago Moreira Bianeck</span>
    </div>
  </footer>
