<div class="row mt-4">
  <div class="col-12 mb-3">
      <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Últimas Disponibilidades de serviços por Estado</h2>
            <h6 class="card-subtitle mb-2 text-muted text-center">Dados mostrados por versão de WebService</h6>
          </div>
        </div>
  </div>
  <div class="col-lg-6 mb-3">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Disponibilidades v3.10</h5>
            <p-chart type="bar" [data]="data310"></p-chart>
          </div>
        </div>
  </div>
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Disponibilidades v4.00</h5>
            <p-chart type="bar" [data]="data400"></p-chart>
          </div>
        </div>
    </div>
</div>



